<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katherineplazas.lab02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvRKneUF3lIMGdSnAG9j3URf9w2l3dmJg"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Principal_Activity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".RegistroConductorActivity" />
        <activity android:name=".PruebaActivity" />
        <activity
            android:name=".ParqueaderosActivity"
            android:label="@string/title_activity_parqueaderos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal_Conductor_Activity"
            android:label="@string/title_activity_principal__conductor_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Mensaje_Activity" />
        <activity android:name=".Perfil_Conductror_Activity" />
        <activity
            android:name=".Principal_AcudienteActivity"
            android:label="@string/title_activity_principal__acudiente"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>